.active {
  --nextui-primary: #0070f3;
  color: blue;
  font-weight: 400;
  color: var(--nextui-primary);;
}

.thick-line > span:last-child::before, span:last-child::after  {
  content: '';
  height: 3px;
}

.next-ui-input > *:nth-child(3) {
  padding: 0.5em;
  border-radius: 0.75em;
}